<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EldenBingo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EldenBingo.Properties.Settings>
            <setting name="GameName" serializeAs="String">
                <value>eldenring</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\ELDEN RING\Game</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>bingobrawlers.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4501</value>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlBackColor" serializeAs="String">
                <value>20, 20, 30</value>
            </setting>
            <setting name="MapWindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapWindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastBingoFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Team" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoMaxSizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoMaxSizeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapWindowCustomPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapWindowCustomSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BingoBoardMaximumSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowSizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowSizeY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MapWindowLastWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MapWindowLastHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BingoFont" serializeAs="String">
                <value>Lucida Sans Unicode</value>
            </setting>
            <setting name="BingoFontStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="HostServerOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlipMouseButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GS_RandomizeClasses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GS_NumClasses" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GS_Classes" serializeAs="String">
                <value>0,1,2,3,4,5,6,7,8,9</value>
            </setting>
            <setting name="GS_CategoryLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GS_RandomSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowClassesOnMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickIncrementsCountedSquares" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GS_PreparationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ClickHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GS_BonusPerBingo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GS_BoardSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GS_ShowPlayerTeam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdentityToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DelayMatchEvents" serializeAs="String">
                <value>0</value>
            </setting>
        </EldenBingo.Properties.Settings>
    </userSettings>
</configuration>